runpod==1.6.2
infinity-emb[all,onnxruntime-gpu,cache,ct2,logging,optimum,server,tensorrt,torch]==0.0.51
einops # deployment of custom code with nomic
git+https://github.com/pytorch-labs/float8_experimental.git